# Import Libraries

In [1]:
# imports libraries
import numpy as np
import pandas as pd
import os

# Import Data frames

In [2]:
# imports data frames
path = r'/Users/oliviamurphy/Desktop/2022-01 Insta Cart Analysis/02 Data'
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'ords_cleaned.csv'), index_col = [0])
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_cleaned.csv'), index_col = [0])
df_cust = pd.read_csv(os.path.join(path, 'Prepared Data', 'cust_cleaned.csv'), index_col = [0])
df_dep = pd.read_csv(os.path.join(path, 'Prepared Data', 'dep_cleaned.csv'), index_col = [0])
df_ords_prods_prior = pd.read_csv(os.path.join(path, 'Prepared Data', 'df_ords_prods_prior_cleaned.csv'), index_col = [0])

/Users/oliviamurphy/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

# Change datatypes

In [3]:
# changes data types to strings
df_ords['order_id'] = df_ords['order_id'].astype('string')
df_ords['user_id'] = df_ords['user_id'].astype('string')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('string')
df_prods['product_id'] = df_prods['product_id'].astype('string')
df_prods['department_id'] = df_prods['department_id'].astype('string')
df_ords_prods_prior['order_id'] = df_ords_prods_prior['order_id'].astype('string')
df_ords_prods_prior['product_id'] = df_ords_prods_prior['product_id'].astype('string')
df_cust['user_id'] = df_cust['user_id'].astype('string')

# Merge df_ords & df_ords_prods_prior into orders_products_combined

In [4]:
# Check output of df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [5]:
# checks output of df_ords_prods_prior
df_ords_prods_prior.head()
# merge can be done on order_id

  order_id product_id  add_to_cart_order  reordered
0        2      33120                  1          1
1        2      28985                  2          1
2        2       9327                  3          0
3        2      45918                  4          1
4        2      30035                  5          0

In [6]:
# check shape of frame
df_ords.shape

(3421083, 6)

In [7]:
# check shape of frame
df_ords_prods_prior.shape

(32434489, 4)

In [8]:
# merging data with inner join
orders_products_combined = df_ords.merge(df_ords_prods_prior, on = 'order_id', indicator = True, how = 'inner')

In [9]:
#count values of inner join 
orders_products_combined['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [10]:
# returns shape of orders_products_combined
orders_products_combined.shape

(32434489, 10)

In [11]:
# checks for null values
orders_products_combined.isnull().sum()

order_id                              0
user_id                               0
order_number                          0
orders_day_of_week                    0
order_hour_of_day                     0
days_passed_since_last_order    2078068
product_id                            0
add_to_cart_order                     0
reordered                             0
_merge                                0
dtype: int64

# Merge orders_products_combined & df_prods into orders_products_merge

In [12]:
# outputs first row of orders_products_combined
orders_products_combined.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both

In [13]:
# outputs first row of df_prods
df_prods.head(1)
# dataframes can be merged on product_id

  product_id                product_name aisle_id department_id  prices
0          1  Chocolate Sandwich Cookies       61            19     5.8

In [14]:
# check shape of frame
orders_products_combined.shape

(32434489, 10)

In [15]:
# check shape of frame
df_prods.shape

(49688, 5)

In [16]:
# drops old merge flag to allow for new merge flag
orders_products_combined =orders_products_combined.drop(columns = ['_merge'])

In [17]:
# checks to ensure old merge flag is gone
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [18]:
#merging data with inner join
orders_products_merged = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True, how = 'inner')

In [19]:
# checks the first five rows of orders_products_merged
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [20]:
# outputs value counts for merge flag
orders_products_merged['_merge'].value_counts()

both          32433030
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# outputs shape of orders_products_merged
orders_products_merged.shape

(32433030, 14)

In [22]:
#checks for null values
orders_products_merged.isnull().sum()

product_id                            0
product_name                      28171
aisle_id                              0
department_id                         0
prices                             5127
order_id                              0
user_id                               0
order_number                          0
orders_day_of_week                    0
order_hour_of_day                     0
days_passed_since_last_order    2077979
add_to_cart_order                     0
reordered                             0
_merge                                0
dtype: int64

In [23]:
#checks for null values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            2
dtype: int64

# Merge orders_products_merged & df_cust into orders_products_all

In [24]:
# drops old indicator flag to allow for new indicator flag
orders_products_merged = orders_products_merged.drop(columns = ['_merge'])

In [25]:
# checks output of df_cust
df_cust.head(1)

,user_id,gender,state,age,date_joined,number_of_dependants,family_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665

In [26]:
# checks output of orders_products_merged
orders_products_merged.head(1)
# can merge on user_id

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0

In [27]:
#checks shape of df_cust
df_cust.shape

(206209, 8)

In [28]:
# checks shape of orders_products_merged
orders_products_merged.shape

(32433030, 13)

In [29]:
# merging data with inner join
orders_products_all = orders_products_merged.merge(df_cust, on = 'user_id', indicator = True, how = 'inner')

In [30]:
# outputs the shape of orders_products_all
orders_products_all.shape

(32433030, 21)

In [31]:
#checks head of orders_products_all
orders_products_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,gender,state,age,date_joined,number_of_dependants,family_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,4,0,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,1,1,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,5,0,Male,Minnesota,81,8/1/2019,1,married,49620,both

# Merge orders_products_all & df_dep into Orders_products_departments_final

In [32]:
# drops old indicator flag to allow for new indicator flag
orders_products_all = orders_products_all.drop(columns = ['_merge'])

In [33]:
#checks head of df_dep
df_dep.head()

  department
1     frozen
2      other
3     bakery
4    produce
5    alcohol

In [34]:
# checks shape of df_shape
df_dep.shape

(21, 1)

In [35]:
# checks shape of orders_products_all
orders_products_all.shape

(32433030, 20)

In [36]:
# creates column to merge on for df_dep
df_dep['department_id']= df_dep.index

In [37]:
#checks datatype of df_dep['department_id']
df_dep['department_id'].dtype

dtype('int64')

In [38]:
# converts df_dep['department_id'] to string
df_dep['department_id'] = df_dep['department_id'].astype('string')

In [39]:
#checks datatype of df_dep['department_id']
df_dep['department_id'].dtype

string[python]

In [40]:
#merges orders_products_all & df_dep into Orders_products_departments_final
orders_products_departments_final = orders_products_all.merge(df_dep, on = 'department_id', indicator = True, how = 'inner')

In [41]:
# checks shape of orders_products_departments_final
orders_products_departments_final.shape

(32433030, 22)

In [42]:
# checks first five rows of output for orders_products_departments_final
orders_products_departments_final.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,gender,state,age,date_joined,number_of_dependants,family_status,income,department,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,Male,Minnesota,81,8/1/2019,1,married,49620,snacks,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,Male,Minnesota,81,8/1/2019,1,married,49620,snacks,both
2,4913,Table Water Crackers,78,19,4.4,894221,138,23,5,13,...,0,Male,Minnesota,81,8/1/2019,1,married,49620,snacks,both
3,11759,Organic Simply Naked Pita Chips,107,19,4.4,1986630,138,7,0,12,...,0,Male,Minnesota,81,8/1/2019,1,married,49620,snacks,both
4,13424,Almonds,45,19,4.2,3139998,138,28,6,11,...,0,Male,Minnesota,81,8/1/2019,1,married,49620,snacks,both

In [43]:
# checks value counts of orders_products_departments_final merge flag
orders_products_departments_final['_merge'].value_counts()

both          32433030
left_only            0
right_only           0
Name: _merge, dtype: int64

# Export file

In [44]:
#export to pickle
orders_products_departments_final.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_departments_final.pkl'))